<h1 class="headerText">Viewing Article</h1>

<div>
   <p>
      Title: 
      <%= @article.title %>
   </p>

   <p>
      Description: 
      <%= @article.description %>
   </p>

   <button type="button" class="btn btn-success btn-block">
      <%= link_to "Edit this article", edit_article_path(@article) %>
   </button>

   <button type="button" class="btn btn-danger btn-block">
      <a href="/articles">Back To Articles</a>
   </button>
</div>