<h1 class="headerText">Viewing Article</h1>

<div>
   <div class="card bg-light" style="width: 40rem; margin: 10px;">
      <div class="article-title card-title">
         <%= @article.title %>
      </div>

      <div class="article-body card-body" style="text-align: center;">  
         <%= @article.description %>
      </div>
   </div>
   <%# <button type="button" class="btn btn-success btn-block"> %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-success btn-block" %>
   <%# </button> %>

   <%# <button type="button" class="btn btn-danger btn-block"> %>
      <a href="/articles" class="btn btn-danger btn-block">Back To Articles</a>
   <%# </button> %>
</div>