<body>
   <div class="container">
      <div class="header">
         <h1>Home Page</h1>
      </div>
      
      <div class="footer">
         <div class="leftSide">Left Side</div>
         <div class="rightSide">Right Side</div>
      </div>
   </div>
</body>

<%= link_to "Alpha Blog", articles_pathd %> | <%= link_to 'About', about_path %>