/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

body {
   background-color: lightgray;
   background-image: url('https://wallpapertag.com/wallpaper/full/1/a/1/350829-widescreen-website-background-1920x1080-windows-xp.jpg');
   background-size: cover;
}

// .pagination {
//    flex-wrap: wrap !important;
//    margin-right: -15px !important;
//    margin-left: -15px !important;
//    width: 40rem;
//    justify-content: center;
// }

.pagination {
   display: inline-block;
   padding-left: 0;
   margin: 21px 0;
   border-radius: 4px
}

.pagination>li {
   display: inline
}

.pagination>li>a,.pagination>li>span {
   position: relative;
   float: left;
   padding: 10px 15px;
   line-height: 1.42857143;
   text-decoration: none;
   color: #fff;
   background-color: #18BC9C;
   border: 1px solid transparent;
   margin-left: -1px
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px
}

.pagination>li>a:hover,.pagination>li>a:focus,.pagination>li>span:hover,.pagination>li>span:focus {
   z-index: 2;
   color: #fff;
   background-color: #0f7864;
   border-color: transparent
}

.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus,.pagination>.active>span,.pagination>.active>span:hover,.pagination>.active>span:focus {
   z-index: 3;
   color: #fff;
   background-color: #0f7864;
   border-color: transparent;
   cursor: default
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
   color: #ecf0f1;
   background-color: #3be6c4;
   border-color: transparent;
   cursor: not-allowed
}

.pagination-lg>li>a,.pagination-lg>li>span {
   padding: 18px 27px;
   font-size: 19px;
   line-height: 1.3333333
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px
}

.pagination-sm>li>a,.pagination-sm>li>span {
   padding: 6px 9px;
   font-size: 13px;
   line-height: 1.5
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
   border-bottom-left-radius: 3px;
   border-top-left-radius: 3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px
}

.pager {
   padding-left: 0;
   margin: 21px 0;
   list-style: none;
   text-align: center
}

.pager:before,.pager:after {
   content: " ";
   display: table
}

.pager:after {
   clear: both
}

.pager li {
   display: inline
}

.pager li>a,.pager li>span {
   display: inline-block;
   padding: 5px 14px;
   background-color: #18BC9C;
   border: 1px solid transparent;
   border-radius: 15px
}

.pager li>a:hover,.pager li>a:focus {
   text-decoration: none;
   background-color: #0f7864
}

.pager .next>a,.pager .next>span {
   float: right
}

.pager .previous>a,.pager .previous>span {
   float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
   color: #fff;
   background-color: #18BC9C;
   cursor: not-allowed
}

.card {
   width: 100%;

   .card-body {
      padding-top: 10px;
      padding-bottom: 10px;

      ul {
         list-style: decimal;
      }
   }

   h2 {
      font-size: 1.2rem;
   }
}

.headerText {
   font-family: 'Coda Caption', sans-serif;
}

.btn-fixed {
   width: 50%;
}

.footer {
   display: flex;
   justify-content: center;

   .leftSide {
      display: flex;
      justify-content: flex-start;
   }
}

.footerBot {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;
}

footer {
   
   small {
      margin-left: 10px;
   }

   ul {
      list-style: none;
   }
}

button {
   a {
      color: #fff;
      text-decoration: none;
   }

   a:hover {
      color: #fff;
      text-decoration: none;
   }
}

table {
   margin: 10px;
}

.article-title {
   text-align: center;
   font-weight: bold;
   font-size: 1.5em;
   
   a {
      color: #18BC9C;
   }
}

.article-body {
   border-top: 1px solid #eaeaea;
   padding-top: 15px;
   padding-bottom: 15px;
}

.article-actions {
   border-top: 1px solid #eaeaea;
   // padding-top: 5px;
   font-style: italic;
   display: flex;
   justify-content: center;
   width: 100%;
   align-items: center;
}

.btn-action {
   width: 75px;
   height: 100%;
   margin: 0 !important;
}
