/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

body {
   background-color: lightgray;
   background-image: url('https://wallpapertag.com/wallpaper/full/1/a/1/350829-widescreen-website-background-1920x1080-windows-xp.jpg');
   background-size: cover;
}

#blah {
   height: 80vh;
}

.headerText {
   font-family: 'Coda Caption', sans-serif;
}

.btn-fixed {
   width: 50%;
}

.footer {
   display: flex;
   justify-content: center;

   .leftSide {
      display: flex;
      justify-content: flex-start;
   }
}

.footerBot {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;
}

footer {
   
   small {
      margin-left: 10px;
   }

   ul {
      list-style: none;
   }
}

button {
   a {
      color: #fff;
      text-decoration: none;
   }

   a:hover {
      color: #fff;
      text-decoration: none;
   }
}

table {
   margin: 10px;
}

.article-title {
   text-align: center;
   font-weight: bold;
   font-size: 1.5em;
   
   a {
      color: #18BC9C;
   }
}

.article-body {
   border-top: 1px solid #eaeaea;
   padding-top: 15px;
   padding-bottom: 15px;
}

.article-actions {
   border-top: 1px solid #eaeaea;
   // padding-top: 5px;
   display: flex;
   justify-content: center;
   width: 50%;
   align-items: center;
}

.btn-action {
   width: 75px;
   height: 100%;
   margin: 0 !important;
}
